* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container_card {
  width: 200px;
  border: 1px solid #f3f3f3;
  height: 408;
  background-color: #fff;
  padding: 32px 16px 16px;
}

.monitor_image {
  display: block;
  width: 160px;
  height: 134px;
  margin: 0 auto 40px;
}

h3 {
  font-weight: 500;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 4px;
  padding: 0;
  color: #060b35;
}

.Product_code {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  color: #616070;
  margin-bottom: 16px;
}

.container_card__stars {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.stars {
  display: flex;
}

.stars__star {
  background-image: url('../images/star.svg');
  background-position: center;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
}

.stars__star:not(:last-child) {
  margin-right: 4px;
}

.stars--1 > :nth-child(-n + 1),
.stars--2 > :nth-child(-n + 2),
.stars--3 > :nth-child(-n + 3),
.stars--4 > :nth-child(-n + 4),
.stars--5 > :nth-child(-n + 5) {
  background-image: url('../images/star-active.svg');
}

.reviews {
  font-family: Roboto, sans-serif;
  font-size: 10px;
  line-height: 14px;
  font-weight: 400;
  color: #060b35;
}

.container_price {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.price {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #616070;
}

.valor {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: #060b35;
}

.btn_buy {
  width: 166px;
  height: 40px;
  border-radius: 5px;
  background-color: #00acdc;
  text-transform: uppercase;
  color: #f3f3f3;
  border: 1px solid #00acdc;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}

.btn_buy:hover {
  background-color: #fff;
  border: 1px solid #00acdc;
  color: #00acdc;
}
